@model Pace.Models.PaceModel
@{
    ViewBag.Title = "Index";
}
<div>
    <table class=" table table-bordered">
        <tr>
            <th>
                Time sheet details
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            @foreach (var item in Model.SwipeHr)
            {
                string date = Convert.ToString(item.Date);
                <th>
                    @Html.DisplayFor(model => item.Date.DayOfWeek)
                </th>
            }
            <th>
                Total
            </th>
        </tr>
        <tr>
            <td>
                Project: CMB
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            @foreach (var item in Model.SwipeHr)
            {
                <td>
                    @Html.TextBoxFor(model => item.Hours, new { @style = "width:50px;", @class = "sun time" })
                </td>
            }
            <td>
                @Html.TextBoxFor(model => Model.Total, new { @style = "width:50px;", @class = "total" })
            </td>
        </tr>
        <tr>
            <td colspan="30">
                <input type="submit" class="btn btn-danger pull-right" value="save entries" />
            </td>
        </tr>
    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var tot = 0;
            $('.time').each(function () {
                if ($(this).val() != "" && $(this).val() != "undefined" && $(this).val() != null) {
                    var val = parseInt($(this).val());
                    tot = val + tot;
                }
            });
            $('.total').val(tot);
            $('.time').blur(function () {
                var tot = 0;
                $('.time').each(function () {
                    if ($(this).val() != "" && $(this).val() != "undefined" && $(this).val() != null) {
                        var val = parseInt($(this).val());
                        tot = val + tot;
                    }
                });
                $('.total').val(tot);
            });
        });
    </script>
}